<div id="welcome">

  <h2>Hello World</h2>
  <p>
    The time is now: <%= Time.now %>

    <ul>
      <li>
        <h3>crear casa</h3>
        <ul>
          <li>agregar servicio</li>
          <li>invitar a otros usuarios</li>
          <li></li>
        </ul>
      </li>
      <li>cargar gasto</li>
    </ul>
  </p>

</div>