<div class="container-fluid" id="welcome">
  <div class="row">
    <div class="col-sm-6">
      <%= render "data", title: "Gastos", items: @expenses %>
    </div>
    <div class="col-sm-6">
      <%= render "data", title: "Casas", items: @houses %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <%= render "data", title: "Servicios Asignados", items: @services %>
    </div>
    <div class="col-sm-6">
      <%= render "data", title: "Gastos de la Casa", items: @house_expenses %>
    </div>
  </div>
</div>