<h1>Editing Expense</h1>

<% if @house_hold.present? %>
    <%= render 'form', parent: @house_hold, expense: @expense %>
<% else %>
    <%= render 'form', parent: @user, expense: @expense %>
<% end %>

<%= link_to 'Show', user_expense_path(current_user, @expense) %> |
<%= link_to "Back", request.referer.present? ? request.referer : default_path %>
